{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bienvenu a </span> FRIDAVERT </h1>
            </div>

        </div>
    </div>
{% endblock %}


